@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: "Poppins", sans-serif;
}
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}
p{
    margin: 0;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    display: inline-block;
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
.section-h1{
    font-size: 60px;
}
.section-h2{
    font-size: 40px;
}
.section-h3{
    font-size: 25px;
}
.gap{
    margin: 80px 0;
}
.linear-1{
    background: linear-gradient(to right, #FF9C35 , #FFD019);
}
.linear-2{
    background: linear-gradient(to right, #FF589B, #FF136F);
}
.linear-3{
    background: linear-gradient(to right, #4289FF, #3F07F8) ;
}
.banner-span{
    font-size: 30px;
    font-weight: 500;
    background: linear-gradient(to right, #FF589B, #FF136F);
    background-clip: text;
    color: transparent;
}
.common-btn-2{
    font-size: 16px;
    font-weight: 500;
    background: linear-gradient(to right, #FF9C35 , #FFD019);
    background-clip: text;
    color: transparent;
    border: none;
}
.categories-span{
    font-size: 30px;    
}
.common-btn{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #FFFFFF;
    padding: 12px 20px;
    background-color: black;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
}
.navbar-icon{
    padding: 5px;
    border: 0;
}
.navbar-icon:focus {
	box-shadow: none;
}
.form-control:focus {
    box-shadow: none;
    border: none;
}
/* navbar part end */
/* footer part start */
.footer-contianer{
    max-width: 800px;
    margin: 0 auto;
}
/* footer part end */